@charset "utf-8";
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/*@version       2019/12/11 fix for 73 Bug 1601094 - Rename remaining .xul files to .xhtml in browser */
/*@version        2019/10/20 12:30*/

      *|*:root
      {
        --downloads-item-height: 3.5em;
      }
			richlistitem { 
			  height: 3.5em !important;
			}       
      #contentAreaDownloadsView
      {
        padding: 0 !important;
      }
      .downloadTypeIcon,
      .downloadBlockedBadge
      {
        margin-left:0 !important;
        margin-right:1px !important;
      }
      .downloadButton {
        padding-left:0 !important;
        padding-right:0 !important;
      }
}